# macOS
.DS_Store

# Xcode user-specific data
xcuserdata/
*.xcuserstate
*.xccheckout
*.xcscmblueprint
*.moved-aside
*.mode1v3
*.mode2v3
*.perspectivev3

# Build artifacts
build/
Build/
DerivedData/
*.ipa
*.dSYM
*.dSYM.zip

# Swift Package Manager
.build/
.swiftpm/
